<div class="w-screen h-screen pt-[110px] text-white">
    <div class="content-center rounded-[44px] w-[600px] h-[600px] bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto">
        <form class="">
            <div class="text-center text-2xl font-bold"> Validation </div>
            <div class="grid mx-20 mt-14">
                <label for="" class="text-center">
                    Nom et Prénoms 
                </label>
                <input type="text" class="rounded-full bg-[#171229] border-[1px] border-[#5D3B88]">
            </div>
            <div class="grid mx-20 mt-8">
                <label for="" class="text-center">
                    Numéro de telephone  
                </label>
                <input type="text" class="rounded-full bg-[#171229] border-[1px] border-[#5D3B88]">
            </div>
            <div class="grid mx-20 mt-8">
                <label for="" class="text-center">
                    e-mail 
                </label>
                <input type="text" class="rounded-full bg-[#171229] border-[1px] border-[#5D3B88]">
            </div>
            <div class="grid mx-20 mt-8">
                <label for="" class="text-center">
                    Adresse 
                </label>
                <input type="text" class="rounded-full bg-[#171229] border-[1px] border-[#5D3B88]">
            </div>
        </form>
    </div>
</div>