<div 
  id="doubleFenetre" 
  class=" translate-x-full duration-500 w-full h-full fixed z-40 bg-[#00000085]"
  (click)="hidePanier()"
>
</div>

<div id="fenetre" class="translate-x-full duration-700 fixed right-0 left-auto h-full w-[595px] bg-gradient-to-br from-[#ffffff36] to-[#ffffff1a] z-50  backdrop-blur-3xl border-l-[1px] border-[#5D3B88] rounded-l-[61px]">
    
    <!-- bouton retour, titre et nombre d'achat -->
    <div id="entete" class="flex mt-16 justify-around">
        <img 
          ngSrc="boutonRetour.svg" 
          alt="retour" 
          width="46" 
          height="46" 
          class="hover:scale-[120%] duration-700 cursor-pointer"
          (click)="hidePanier()"
        >
        <div class="text-base font-bold p-3 rounded-full bg-gradient-to-r text-white from-[#5D3B88]  to-[#4b3272]">
            Panier d’achat
        </div>
        <div class="text-sm font-bold text-white px-3 pt-3 rounded-full bg-gradient-to-r from-[#5D3B88]  to-[#4b3272]">
            {{count()}}
        </div>
    </div>

    <!-- produits -->
    <div id="contenu" class="mt-14 grid gap-8 h-[360px] overflow-auto w-[400px] mx-auto">
        @for (item of item; track item) {
            <div class="flex w-[312px] h-20 border-[1px] rounded-[20px] border-[#ffffff18] text-white tracking-wide mx-auto ">
                <div class="bg-[#342250bd] w-20 h-20 rounded-[20px] backdrop-blur-3xl shadow-ombreCarte content-center">
                    <img [ngSrc]="item['img']" alt="montre" width="39" height="52" class="mx-auto">
                </div>
                <div class="grid ml-7 content-center gap-[6px]">
                    <div class="text-sm font-bold text-white ">
                        {{item['name']}}
                    </div>
                    <div class="text-sm font-extralight">
                        {{item['couleur']}}
                    </div>
                    <div class="text-sm font-bold ">
                        {{item['prix']}}.000 fr
                    </div>
                </div>
                <div class="ml-auto mr-4 content-center grid gap-[40px]">
                    <img ngSrc="exitCarte.svg" alt="exit" width="11" height="10" class="ml-auto cursor-pointer" (click)="deleteProduit(item['name'])">
                    <div class="flex font-bold gap-1">
                        <button (click)="decrement(item['name'])" [disabled]="count() <= 1">
                            <div class="w-[16px] h-[16px] rounded-full text-center bg-red-500 text-sm cursor-pointer">-</div>
                        </button>
                        <div [id]="item['name']" class="text-xs ">{{item['numb']}}</div>
                        <button (click)="increment(item['name'])">
                            <div class="w-[16px] h-[16px] rounded-full text-center  bg-green-500 text-sm cursor-pointer">+</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Validation et totale -->
    <div class="mt-8 w-[300px] mx-auto">
        <div class="flex justify-around text-white text-base font-bold mb-3">
            <div> Total </div>
            <div> {{total()}}.000 fr </div>
        </div>
        <div class="w-full h-[1px] bg-[#342250]"></div>
        <div class="w-[300px] h-8 bg-green-500 font-bold text-white text-center rounded-full pt-1 shadow-ombreCarte mt-8 cursor-pointer hover:scale-[110%] duration-700" >
            Je valide mon achat
        </div>
    </div>
</div>

