<div class="bg-[#171229]">
    <!-- barre de navigation -->
    <nav class="h-[60px] bg-[#17122900] fixed w-full flex justify-around items-center z-50">
        <div class="hover:scale-[115%] duration-700 cursor-pointer">
            <img ngSrc="logo.svg" alt="logo" width="110" height="35">
        </div>
        <div class="flex text-white font-bold gap-[35px]">
            <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
                Accueil 
            </div>
            <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
                À propos 
            </div>
            <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
                Catalogue 
            </div>
            <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
                Blog 
            </div>
        </div>
        <div class="hover:scale-[115%] duration-700 cursor-pointer">
            <img ngSrc="dropIcon.svg" alt="logo" width="35" height="35">
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>