<div class="bg-[#171229]">
    <!-- barre de navigation -->
    <nav 
      class="h-[40px] mt-[20px] w-[900px] rounded-full right-0 backdrop-blur-2xl left-0 mx-auto bg-[#ffffff17] fixed p-8 flex justify-between items-center z-30"
    >
        <div 
          class="rounded-full hover:p-1 hover:bg-[#171229] duration-300 cursor-pointer"
          routerLink="/acceuil"
        >
            <img ngSrc="logo.svg" alt="logo" width="110" height="35">
        </div>
        <div class="flex text-white font-bold gap-[35px] self-center pr-8">
            <div 
              class="rounded-full hover:px-2 hover:bg-[#171229] duration-300  cursor-pointer"
              routerLink="/acceuil"
            >
                Accueil 
            </div>
            <div class="rounded-full hover:px-2 hover:bg-[#171229] duration-300 cursor-pointer">
                À propos 
            </div>
            <div 
              class="rounded-full hover:px-2 hover:bg-[#171229] duration-300 cursor-pointer"
              routerLink="/catalogue"
            >
                Catalogue 
            </div>
            <div class="rounded-full hover:px-2 hover:bg-[#171229] duration-300 cursor-pointer">
                Blog 
            </div>
        </div>
        <div 
          class="rounded-full hover:p-1 hover:bg-[#171229] duration-300 cursor-pointer"
          (click)="revealPanier()"
        >
            <img ngSrc="dropIcon.svg" alt="logo" width="35" height="35">
        </div>
    </nav>
    <app-panier></app-panier>
    <router-outlet></router-outlet>
</div>