
<div #catalogue id="catalogue" class="pt-40  text-white">
    <!-- barre de recherche -->
    <form class="flex h-[40px] w-[500px] mx-auto bg-[#ffffff36] backdrop-blur-sm rounded-full shadow-ombreCarte">
        <input 
          type="text" 
          class="bg-[#fff0] w-[445px] rounded-l-full focus:outline-none pl-8 text-white placeholder-[#ffffff36] placeholder:font-extralight"
          placeholder="Rechercher une marque"
          #input
          [value]="searchInput()"
          (input)="searchInput.set(input.value)"
          (focus)="searchReveal()"
          (blur)="searchHide()"
        >
        <div class="h-[38px] w-[1px] bg-[#d9d9d933]"></div>
        <img ngSrc="Search.svg" alt="search" width="25" height="25" class="w-[25px] ml-auto mr-5 cursor-pointer duration-700 hover:scale-[105%]">
    </form>
    <div id="search" class="absolute left-0 right-0 w-[500px] max-h-[250px] overflow-auto mx-auto bg-[#ffffff36] backdrop-blur-sm rounded-3xl mt-1 pt-2 z-30 hidden duration-700">
        @for (item of result(); track item) {
            <div class="h-5 text-center mb-2 rounded-full hover:bg-[#342250] duration-200 cursor-pointer">
                {{item.nom}}
            </div>
        }
    </div>

    <!-- filtrer resultats -->
    <div class="flex text-sm text-white items-center gap-2 mt-9 mb-12 pl-24">
        <img 
          ngSrc="filtre.svg" 
          alt="filtre" 
          width="25" 
          height="25" 
          class="hover:scale-[110%] duration-300 cursor-pointer" 
          (click)="filterReveal()"
        >
        <div class="">
            Filtrer les marques
            <div id="filtre" class="absolute w-[200px] h-[105px] rounded-2xl mt-2 left-24 bg-[#ffffff60] backdrop-blur-3xl hidden">
                <div 
                  id="homme" 
                  class="text-center pt-1 font-semibold text-lg cursor-pointer bg-[#342250] rounded-2xl mx-4 hover:scale-[105%] duration-500"
                  (click)="filtreHomme()"
                >
                    Homme
                </div>
                <div 
                  id="femme" 
                  class="text-center pt-1 font-semibold text-lg cursor-pointer hover:scale-[105%] duration-500 rounded-2xl mx-4"
                  (click)="filtreFemme()"
                >
                    Femme
                </div>
                <div 
                  id="populaire" 
                  class="text-center pt-1 font-semibold text-lg cursor-pointer hover:scale-[105%] duration-500 rounded-2xl mx-4"
                  (click)="filtrePopulaire()"
                >
                    Populaire
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 ">
        @if(loading()){
            <img src="logo.svg" alt="logo" class="animate-bounce mx-auto content-center">
        }
        @if (marqueFiltre() == 'homme') {
            <!-- categories Homme -->
            <div class="text-3xl font-bold pl-24">
                Homme
            </div>
            <div class="mt-9 cursor-pointer gap-16 w-full grid grid-cols-[290px_290px_290px_290px] gap justify-center">
                @for (item of marqueHomme(); track item) {
                    <div>
                        <div 
                          [id]="item?.nom" 
                          class="w-[290px] h-[320px] rounded-[44px] bg-[#ffffff2f] backdrop-blur-3xl duration-500 hover:scale-[95%] shadow-ombreCarte grid overflow-hidden" 
                        >
                        <img [ngSrc]="item.image" [alt]="item.nom" class="mx-auto pt-3 duration-700 hover:scale-[110%]" height="240" width="165">
                        <div class="h-[50px] w-[200px] pt-3 mt-[18px] rounded-tl-[44px] rounded-br-[44px] ml-auto text-center font-bold text-2xl bg-gradient-to-r from-[#5D3B88] to-[#342250]">
                            {{item.nom}}
                        </div>
                        </div>
                    </div>
                }
            </div>
        }

        @if (marqueFiltre() == 'femme') {
            <!-- categories Femme -->
            <div class="text-3xl font-bold mt-16 pl-24">
                Femme
            </div>
            <div class="mt-9 cursor-pointer gap-16 w-full grid grid-cols-[290px_290px_290px_290px] gap justify-center">
                @for (item of marqueFemme(); track item.id) {
                    <div>
                        <div 
                          [id]="item.nom" 
                          class="w-[290px] h-[320px] rounded-[44px] bg-[#ffffff2f] backdrop-blur-3xl shadow-ombreCarte grid duration-500 hover:scale-[95%] overflow-hidden" 
                        >
                        <img [ngSrc]="item.image" [alt]="item.nom" class="mx-auto pt-3 duration-700 hover:scale-[110%]" height="240" width="165">
                        <div class="h-[50px] w-[200px] pt-3 mt-[18px] rounded-tl-[44px] rounded-br-[44px] ml-auto text-center font-bold text-2xl bg-gradient-to-r from-[#5D3B88] to-[#342250]">
                                {{item.nom}}
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        @if (marqueFiltre() == 'populaire') {
            <!-- categories populaire-->
            <div class="text-3xl font-bold mt-16 pl-24">
                Populaire
            </div>
            <div class="mt-9 cursor-pointer gap-16 w-full grid grid-cols-[290px_290px_290px_290px] gap justify-center">
                @for (item of marquePopulaire(); track item.id) {
                    <div>
                        <div 
                          [id]="item.nom" 
                          class="w-[290px] h-[320px] rounded-[44px] bg-[#ffffff2f] backdrop-blur-3xl shadow-ombreCarte grid duration-500 hover:scale-[95%] overflow-hidden" 
                        >
                        <img [ngSrc]="item.image" [alt]="item.nom" class="mx-auto pt-3 duration-700 hover:scale-[110%]" height="240" width="165">
                        <div class="h-[50px] w-[200px] pt-3 mt-[18px] rounded-tl-[44px] rounded-br-[44px] ml-auto text-center font-bold text-2xl bg-gradient-to-r from-[#5D3B88] to-[#342250]">
                                {{item.nom}}
                            </div>
                        </div>
                    </div>
                }
            </div> 
        }
    </div>
    <app-footer></app-footer>
</div>


