<!-- entete de la page -->
<div class="h-[768px] flex pt-[200px] justify-between z-10">
    <!-- heder droite -->
    <div class=" grid gap-[125px] pl-[150px]">
        <div class="grid gap-[18px]">
            <div class="text-6xl text-white w-[350px] font-medium leading-[67px] bg-gradient-to-r from-white to-[#bbbbbb] inline-block text-transparent bg-clip-text tracking-[0.225rem]"> 
                Achetez la montre de vos rêves 
            </div>
            <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-white to-[#bbbbbb] font-bold rounded-full ml-[30px]">
                Catalogue
            </button>
        </div>
        <div class="flex h-[63px] items-center gap-3 font-bold text-white text-base">
            <img ngSrc="moto.svg" alt="" width="63" height="63">
            Livraison partout sur Dakar
        </div>
    </div>
    <!-- heder droite -->
    <div class="grid pr-[150px] gap-[100px]">
        <div id="cercle1" class=" bg-[url('public/cercle 1.svg')] w-[192px] h-[192px] rounded-full content-center grid gap-[5px]">
            <img ngSrc="montre Lacoste1.svg" alt="montre" width="87" height="87" class="mx-auto">
            <div class="text-xs w-[144px] text-white font-bold mx-auto text-center">
                Les meilleurs montres sur le marché !
            </div>
        </div>
        <div class="w-[244px] h-[214px] bg-gradient-to-bl from-[#5c3b885b] via-[#4b2f6c11] to-[#5D3B8800] content-center rounded-[30px]">
            <div class="w-[240px] h-[210px]  bg-gradient-to-bl from-[#ffffff09] via-[#ffffff07] to-[#fff0] rounded-[30px] grid gap-[10px] content-center ">
                <img ngSrc="montre Lacoste2.svg" alt="montre" width="62" height="68" class="mx-auto">
                <div class=" text-xl font-bold bg-gradient-to-r from-[#5D3B88] to-[#342250] inline-block text-transparent bg-clip-text text-center">
                    Plus de 10 marques
                </div>
                <div class="flex justify-center">
                    <div class=" w-[165px] text-xs text-white font-bold">
                        Appuyer pour voir l’ensemble des marques
                    </div>
                    <img ngSrc="bouton fleche.svg" alt="bouton" width="21" height="21">
                </div>
            </div>
        </div>
    </div>
</div>
<img ngSrc="imageHeader.svg" alt="montre" width="1060" height="768" class="absolute top-0 content-self-center right-0 left-0 mx-auto z-0">

