<!-- entete de la page -->
<div class="h-[768px] flex pt-[200px] justify-between">
    <!-- header gauche -->
    <div class=" grid gap-[125px] ml-[150px] animate-comeLeft z-10">
        <div class="grid gap-[18px]">
            <div class="text-6xl text-white w-[350px] font-medium leading-[67px] bg-gradient-to-r from-white to-[#bbbbbb] inline-block text-transparent bg-clip-text tracking-[0.225rem]"> 
                Achetez la montre de vos rêves 
            </div>
            <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-white to-[#bbbbbb] font-bold rounded-full ml-[30px] duration-700 hover:scale-[110%]">
                Catalogue
            </button>
        </div>
        <div class="flex h-[63px] items-center gap-3 font-bold text-white text-base">
            <img ngSrc="moto.svg" alt="" width="63" height="63">
            Livraison partout sur Dakar
        </div>
    </div>
    <!-- header droite -->
    <div class="grid mr-[150px] gap-[100px] animate-comeRight z-10">
        <div id="cercle1" class=" bg-[url('public/cercle 1.svg')] w-[192px] h-[192px] rounded-full content-center grid gap-[5px]">
            <img ngSrc="montre Lacoste1.svg" alt="montre" width="87" height="87" class="mx-auto">
            <div class="text-xs w-[144px] text-white font-bold mx-auto text-center">
                Les meilleurs montres sur le marché !
            </div>
        </div>
        <div class="w-[244px] h-[214px] bg-gradient-to-bl from-[#5c3b885b] via-[#4b2f6c11] to-[#5D3B8800] content-center rounded-[30px] ">
            <div class="w-[240px] h-[210px]  bg-gradient-to-bl from-[#ffffff09] via-[#ffffff07] to-[#fff0] backdrop-blur-lg rounded-[30px] grid gap-[10px] content-center cursor-pointer">
                <img ngSrc="montre Lacoste2.svg" alt="montre" width="62" height="68" class="mx-auto">
                <div class=" text-xl font-bold bg-gradient-to-r from-[#5D3B88] to-[#342250] inline-block text-transparent bg-clip-text text-center">
                    Plus de 10 marques
                </div>
                <div class="flex justify-center">
                    <div class=" w-[165px] text-xs text-white font-bold">
                        Appuyer pour voir l’ensemble des marques
                    </div>
                    <img ngSrc="bouton fleche.svg" alt="bouton" width="21" height="21" class="hover:scale-[115%] duration-300 cursor-pointer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- image montre -->
<img ngSrc="imageHeader.svg" alt="montre" width="1060" height="768" class="absolute top-0 content-self-center right-0 left-0 mx-auto z-0 animate-fadeUp2" priority="high">

<!-- Element d'observation -->
<div 
   class="mt-6 h-14"
   appAppObserveElement
   #intersection1="intersection"
   (isIntersecting)="isIntersecting($event, index)"
   [isContinuous]="false" 
></div>

<!-- marques populaires -->
@if (intersection1._isIntersecting) {
    <div>
        <div 
          class="animate-fadeUp1 text-center text-white text-3xl font-bold"
          appAppObserveElement
          #intersection2="intersection"
          (isIntersecting)="isIntersecting($event, index)"
          [isContinuous]="false"    
        >
            Explorer les marques les plus populaires 
        </div>
        @if (intersection2._isIntersecting) {
            <div class="animate-fadeRight flex gap-16 mt-16 justify-center">
                @for (item of marques(); track item) {
                    <div class="w-[213px] h-[189px] rounded-[61px] bg-gradient-to-r from-[#5D3B88] to-[#342250] flex justify-between shadow-ombre1 cursor-pointer hover:scale-[105%] duration-500">
                        <div class="text-white text-2xl font-bold content-center text-center w-[105px]">
                            {{item.nom}}
                        </div>
                        <div class="hover:scale-[110%] duration-700">
                            <img [ngSrc]="item.img" [alt]="item.nom" width="108" height="189" priority="high">
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}

<!-- Element d'observation -->
<div 
   class="mt-24 h-8"
   appAppObserveElement
   #intersection3="intersection"
   (isIntersecting)="isIntersecting($event, index)"
   [isContinuous]="false" 
></div>

<!-- Presentation B-WATCH -->
@if(intersection3._isIntersecting){
    <div 
      class="animate-fadeUp1 w-[942px] h-[376px] rounded-[61px] bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto border-[1px] border-r-[#342250] border-t-[#342250] border-l-[#5D3B88] border-b-[#5D3B88] shadow-ombre2 flex gap-[50px] justify-center"
    >
        <div class="w-[315px] content-center text-white">
            <div class="text-3xl font-bold">
                Illuminer votre style chez B-WATCH  
            </div>
            <div class="text-base my-7">
                B-WATCH est une entreprise spécialisée dans la vente de montre. Chez nous les montres n’ont pas de secret. Nous sommes logés à Dakar.
            </div>
            <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-[#5D3B88] to-[#342250] font-bold rounded-full ml-[30px] cursor-pointer duration-700 hover:scale-[110%]">
                En savoir Plus
            </button>
        </div>
        <div class="content-center">
            <img ngSrc="personneAvecMontre.svg" alt="montre" width="258" height="276">
        </div>
    </div> 
}

<!-- Element d'observation -->
<div 
   class="mt-10 h-10"
   appAppObserveElement
   #intersection4="intersection"
   (isIntersecting)="isIntersecting($event, index)"
   [isContinuous]="false" 
></div>

<!-- Nouveatés sur le marché -->
@if (intersection4._isIntersecting) {
    <div 
      class=" animate-fadeRight"
    >
        <div class="text-center text-white text-3xl font-bold">
            Les nouveautés sur le marché 
        </div>
        <div class="flex justify-center gap-12 mt-12">
            @for (item of nouveautes(); track item) {
                <div class="w-[200px] h-[265px]">
                    <div class="w-[200px] h-[200px] rounded-full bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto border-[1px] border-r-[#342250] border-t-[#342250] border-l-[#5D3B88] border-b-[#5D3B88] content-center">
                        <div class="flex justify-between px-4">
                            <img ngSrc="Chevron Left.svg" alt="fleche" width="13" height="22">
                            <div class="">
                                <img [src]="item.img" [alt]="item.nom" height="118">
                            </div>
                            <img ngSrc="Chevron Right.svg" alt="fleche" width="13" height="22">    
                        </div>
                        <div class="flex justify-center mt-4 gap-2">
                            <div class="h-2 w-2 rounded-full bg-slate-300"></div>
                            <div class="h-2 w-2 rounded-full bg-slate-300"></div>
                            <div class="h-2 w-2 rounded-full bg-slate-300"></div>
                        </div>
                    </div>
                    <div class="text-center text-sm font-bold text-white my-3">
                        {{item.nom}}
                    </div>
                    <img ngSrc="oeil.svg" alt="voir" width="42" height="21" class="mx-auto">
                </div>
            }
        </div>
    </div>
}

<!-- Element d'observation -->
<div 
   class="mt-24 h-8"
   appAppObserveElement
   #intersection5="intersection"
   (isIntersecting)="isIntersecting($event, index)"
   [isContinuous]="false" 
></div>

<!-- article -->
@if (intersection5._isIntersecting) {
    <div class="animate-fadeUp1 w-[942px] h-[376px] rounded-[61px] bg-gradient-to-br from-[#ffffff28] to-[#ffffff00] backdrop-blur-lg mx-auto  flex gap-[50px] justify-between">
        <div class="w-[320px] text-white content-center ml-auto mr-12">
            <div class="text-2xl font-bold">
                OPEN GEAR RESEC Modern Mechanical dans le meilleur sens du terme
            </div>
            <div class="text-base  my-7">
                Le nouvel Open Gear Resec est la symbiose parfaite entre savoir faire horloger, matériaux modernes, tradition et design innovant
            </div>
            <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-[#5D3B88] to-[#342250] font-bold rounded-full cursor-pointer duration-700 hover:scale-[110%]">
                Lire l’article
            </button>
        </div>
        <img ngSrc="imageArticle.svg" alt="chronowiss" width="390" height="325" class="mb-0 mt-auto ">
    </div>
}

<!-- Element d'observation -->
<div 
   class="mt-28 h-8"
   appAppObserveElement
   #intersection6="intersection"
   (isIntersecting)="isIntersecting($event, index)"
   [isContinuous]="false" 
></div>

<!-- formulaire -->
@if (intersection6._isIntersecting) {
    <div class="animate-fadeLeft flex justify-between w-[942px] rounded-[61px] bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto ">
        <img ngSrc="imageForm.svg" alt="montre" width="410" height="487" priority="high">
        <form class="w-[442px] mx-auto">
            <div class="text-3xl font-bold text-white mb-[30px] mt-[30px] text-center">
                Contactez nous !
            </div>
            <div class="grid gap-2 text-white font-bold">
                <label for="">
                    Nom et Prénoms 
                </label>
                <input 
                  type="text" class="h-[33px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700"
                >
            </div>
            <div class="grid gap-2 text-white font-bold my-5 ">
                <label for="">
                    Emails 
                </label>
                <input type="text" class="h-[33px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700" >
            </div>
            <div class="grid gap-2 text-white font-bold">
                <label for="">
                    Message
                </label>
                <input type="text" class="h-[100px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700 text-start resize-none w-full box-border px-3 py-3 justify-start">
            </div>
            <button class="text-base text-center w-[168px] h-[38px] bg-green-600 text-white font-bold rounded-full ml-[137px] mt-5 duration-700 hover:scale-[110%]">
                Envoyer
            </button>
        </form>
    </div>
}

<!-- footer -->
<div class="mt-52 bg-gradient-to-t from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg w-full rounded-t-full h-[400px] content-center grid gap-14">
    <img ngSrc="logo.svg" alt="logo" width="234" height="74" class="mx-auto cursor-pointer duration-700 hover:scale-[105%]" >
    <div class="flex text-white font-bold gap-[35px] justify-center">
        <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
            Accueil 
        </div>
        <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
            À propos 
        </div>
        <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
            Catalogue 
        </div>
        <div class="hover:text-[#5D3B88] duration-200 hover:scale-[110%] cursor-pointer">
            Blog 
        </div>
    </div>
    <div class="flex gap-3 justify-center">
        <img ngSrc="Facebook.svg" alt="facebook" width="56" height="56" class="cursor-pointer hover:scale-[110%] duration-300">
        <img ngSrc="Instagram.svg" alt="instagramme" width="56" height="56" class="cursor-pointer hover:scale-[110%] duration-300">
        <img ngSrc="TikTok.svg" alt="tiktok" width="56" height="56" class="cursor-pointer hover:scale-[110%] duration-300">
        <img ngSrc="WhatsApp.svg" alt="whatsapp" width="56" height="56" class="cursor-pointer hover:scale-[110%] duration-300">
    </div>
    <img ngSrc="copyright.svg" alt="copyright" width="178" height="15" class="mx-auto">
</div>