<app-panier [item]="item"></app-panier>

<!-- entete de la page -->
<div class="h-[768px] flex pt-[200px] justify-between">
    <!-- header gauche -->
    <div class=" grid gap-[125px] ml-[150px] animate-comeLeft z-10">
        <div class="grid gap-[18px]">
            <div class="text-6xl text-white w-[350px] font-medium leading-[67px] bg-gradient-to-r from-white to-[#bbbbbb] inline-block text-transparent bg-clip-text tracking-[0.225rem]"> 
                Achetez la montre de vos rêves 
            </div>
            <button 
              class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-white to-[#bbbbbb] font-bold rounded-full ml-[30px] duration-700 hover:scale-[110%]"
              routerLink="/catalogue"
            >
                Catalogue
            </button>
        </div>
        <div class="flex h-[63px] items-center gap-3 font-bold text-white text-base">
            <img ngSrc="moto.svg" alt="" width="63" height="63">
            Livraison partout sur Dakar
        </div>
    </div>
    <!-- header droite -->
    <div class="grid mr-[150px] gap-[100px] animate-comeRight z-10">
        <div id="cercle1" class=" bg-[url('public/cercle 1.svg')] w-[192px] h-[192px] rounded-full content-center grid gap-[5px]">
            <img ngSrc="lacoste/montre Lacoste1.svg" alt="montre" width="87" height="87" class="mx-auto">
            <div class="text-xs w-[144px] text-white font-bold mx-auto text-center">
                Les meilleurs montres sur le marché !
            </div>
        </div>
        <div 
          class="w-[244px] h-[214px] bg-gradient-to-bl from-[#5c3b885b] via-[#4b2f6c11] to-[#5D3B8800] content-center rounded-[30px] "
          routerLink="/catalogue"
        >
            <div class="w-[240px] h-[210px]  bg-gradient-to-bl from-[#ffffff09] via-[#ffffff07] to-[#fff0] backdrop-blur-lg rounded-[30px] grid gap-[10px] content-center cursor-pointer">
                <img ngSrc="lacoste/montre Lacoste2.svg" alt="montre" width="62" height="68" class="mx-auto">
                <div class=" text-xl font-bold bg-gradient-to-r from-[#5D3B88] to-[#342250] inline-block text-transparent bg-clip-text text-center">
                    Plus de 19 marques
                </div>
                <div class="flex justify-center">
                    <div class=" w-[165px] text-xs text-white font-bold">
                        Appuyer pour voir l’ensemble des marques
                    </div>
                    <img ngSrc="bouton fleche.svg" alt="bouton" width="21" height="21" class="hover:scale-[115%] duration-300 cursor-pointer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- image montre -->
<img id="montreHero" ngSrc="imageHeader.svg" alt="montre" width="1060" height="768" class="absolute top-0 content-self-center right-0 left-0 mx-auto z-0" priority="high">

<!-- marques populaires -->
<div id="marquesPopulaire">
    <div 
      class="mt-20 text-center text-white text-3xl font-bold"
    >
        Explorer les marques les plus populaires 
    </div>
    <div class="flex gap-16 mt-16 justify-center">
        @for (item of marques(); track item) {
            <div 
              class="w-[213px] h-[189px] rounded-[61px] bg-gradient-to-r from-[#5D3B88] to-[#342250] flex justify-between shadow-ombre1 cursor-pointer hover:scale-[105%] duration-500"
              [routerLink]="['/catalogue/produit', item.id]"
            >
                <div class="text-white text-2xl font-bold content-center text-center w-[105px]">
                    {{item.nom}}
                </div>
                <div class="hover:scale-[110%] duration-700">
                    <img [ngSrc]="item.img" [alt]="item.nom" width="108" height="189" priority="high">
                </div>
            </div>
        }
    </div>
</div>

<!-- Presentation B-WATCH -->
<div 
  id="presentation"
  class=" mt-40 w-[942px] h-[376px] rounded-[61px] bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto border-[1px] border-r-[#342250] border-t-[#342250] border-l-[#5D3B88] border-b-[#5D3B88] shadow-ombre2 flex gap-[50px] justify-center"
>
    <div class="w-[315px] content-center text-white">
        <div class="text-3xl font-bold">
            Illuminer votre style chez B-WATCH  
        </div>
        <div class="text-base my-7">
            B-WATCH est une entreprise spécialisée dans la vente de montre. Chez nous les montres n’ont pas de secret. Nous sommes logés à Dakar.
        </div>
        <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-[#5D3B88] to-[#342250] font-bold rounded-full ml-[30px] cursor-pointer duration-700 hover:scale-[110%]">
            En savoir Plus
        </button>
    </div>
    <div class="content-center">
        <img ngSrc="personneAvecMontre.svg" alt="montre" width="258" height="276">
    </div>
</div> 

<!-- Nouveautés sur le marché -->
<div 
  id="nouveautes"
  class="mt-32"
>
    <div class="text-center text-white text-3xl font-bold">
        Les nouveautés sur le marché 
    </div>
    <div class="flex justify-center gap-12 mt-12 items-center">
        @for (item of nouveautes(); track item) {
            <div class="produit w-[200px] h-[265px] hover:scale-[110%] duration-500">
                <div class="w-[200px] h-[200px] rounded-full bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto border-[1px] border-r-[#342250] border-t-[#342250] border-l-[#5D3B88] border-b-[#5D3B88] content-center">
                    <div class="flex justify-between px-4">
                        <img ngSrc="Chevron Left.svg" alt="fleche" width="13" height="22" class="hover:scale-[110%] duration-200 cursor-pointer" (click)="clickleft(item.nom2)">
                        <div class="overflow-hidden w-[90px]  ml-1">
                            <div [id]="item.nom2" class="flex gap-5 ">
                                @for (i of item.img; track i){
                                    <div class="min-w-[80px] my-auto">
                                        <img [src]="i" [alt]="item.nom" height="118" class="w-[90px]">
                                    </div>
                                }
                            </div>
                        </div>
                        <img ngSrc="Chevron Right.svg" alt="fleche" width="13" height="22" class="hover:scale-[110%] duration-200 cursor-pointer" (click)="clickright(item.nom2)">    
                    </div>
                    <div class="flex justify-center mt-4 gap-2">
                        <div 
                          class="h-2 w-2 rounded-full tra"
                          [class.bg-slate-300]="i!=0"
                          [class.bg-[#171229]]="i==0"
                        ></div>
                        <div 
                          class="h-2 w-2 rounded-full bg-slate-300"
                          [class.bg-slate-300]="i!=1"
                          [class.bg-[#171229]]="i==1"
                        ></div>
                        <div 
                          class="h-2 w-2 rounded-full bg-slate-300"
                          [class.bg-slate-300]="i!=2"
                          [class.bg-[#171229]]="i==2"
                        ></div>
                    </div>
                </div>
                <div class="text-center text-sm font-bold text-white my-3">
                    {{item.nom}}
                </div>
                <img ngSrc="oeil.svg" alt="voir" width="42" height="21" class="mx-auto cursor-pointer hover:scale-[105%] duration-200">
            </div>
        }
    </div>
    <div class="flex justify-center mt-16">
        <button 
          class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-white to-[#bbbbbb] font-bold rounded-full  duration-700 hover:scale-[110%] "
          routerLink="/catalogue"
        >
          Catalogue
        </button>
    </div>

</div>

<!-- article -->
<div id="article" class="w-[942px] h-[376px] rounded-[61px] bg-gradient-to-br from-[#ffffff28] to-[#ffffff00] backdrop-blur-lg mx-auto  flex gap-[50px] justify-between mt-40 overflow-hidden">
    <div id="textArticle" class="w-[320px] text-white content-center ml-auto mr-12">
        <div class="text-2xl font-bold">
            OPEN GEAR RESEC Modern Mechanical dans le meilleur sens du terme
        </div>
        <div class="text-base  my-7">
            Le nouvel Open Gear Resec est la symbiose parfaite entre savoir faire horloger, matériaux modernes, tradition et design innovant
        </div>
        <button class="text-base text-center w-[168px] h-[38px] bg-gradient-to-r from-[#5D3B88] to-[#342250] font-bold rounded-full cursor-pointer duration-700 hover:scale-[110%]">
            Lire l’article
        </button>
    </div>
    <img id="imageArticle" ngSrc="imageArticle.svg" alt="chronowiss" width="390" height="325" class="mb-0 mt-auto ">
</div>

<!-- formulaire -->
<div id="form" class="flex justify-between w-[942px] rounded-[61px] bg-gradient-to-tr from-[#ffffff31] to-[#ffffff0c] backdrop-blur-lg mx-auto mt-48 overflow-hidden">
    <img id="imageForm" ngSrc="imageForm.png" alt="montre" width="410" height="487" priority="high">
    <form id="formForm" class="w-[442px] mx-auto">
        <div class="text-3xl font-bold text-white mb-[30px] mt-[30px] text-center">
            Contactez nous !
        </div>
        <div class="grid gap-2 text-white font-bold">
            <label for="">
                Nom et Prénoms 
            </label>
            <input 
              type="text" class="h-[33px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700"
            >
        </div>
        <div class="grid gap-2 text-white font-bold my-5 ">
            <label for="">
                Emails 
            </label>
            <input type="text" class="h-[33px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700" >
        </div>
        <div class="grid gap-2 text-white font-bold">
            <label for="">
                Message
            </label>
            <input type="text" class="h-[100px] bg-[#171229] border-[1px] border-[#5D3B88] rounded-[6px] focus:border-blue-700 focus:outline-none caret-blue-700 text-start resize-none w-full box-border px-3 py-3 justify-start">
        </div>
        <button class="text-base text-center w-[168px] h-[38px] bg-green-600 text-white font-bold rounded-full ml-[137px] mt-5 duration-700 hover:scale-[110%]">
            Envoyer
        </button>
    </form>
</div>

<!-- footer -->
<app-footer></app-footer>